
@media screen and (max-width:1090px){

.shareButton a{min-width: 92px;}
nav.nav-par ul li {font-size: 13px;}
}
@media screen and (max-width:1000px){

.open.nav2, .open.nav1 {display: inline-block;float: right;margin: 0 0 0 10px;}aside, div#main ,.item .main-amm, .static_page .main-amm,.right-side, .search-view .main-amm{margin: 0;float: none;}div#main,.item .main-amm, .static_page .main-amm,.right-side, .search-view .main-amm {width: 100%;}aside {display: none;}.floar{display:none}.par-bottom{top:0}.logo .section{top:2.5px!important;height:50px!important;-webkit-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s}div#header-inner{-webkit-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;height:50px}div#header-inner img{max-height:50px!important;-webkit-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s}nav.nav-par ul li{padding:14px 5px 15px}.search{margin:5px 0 3px}.head-poz{height:55px}header#sp-header{height:50px}nav.nav-par {display: none;}.new{width:100%;margin-bottom:0}.new2{margin-bottom: 5px;width:100%;height:212.5px;border-top:1px solid #fff}.post-slide{padding:0!important;width:50%}.post-slide:last-of-type{border-left:1px solid #fff!important}.post-outer,.search-view .post-outer{padding:5px;margin:0;width:calc((100% - 12px) / 4)}

}
@media screen and (max-width:750px){

.main-amm,.widget.Label,.Par-Bot{padding:10px}div#logo{width:200px}img.AboutMe-Photo{display:block;float:none;width:99%;margin:0 auto;width:200px}.profauthor,.user-About{text-align:center;float:none;width:100%;display:block;margin:0}.shareButton a{min-width:48%}.post-outer,.search-view .post-outer{width:calc((100% - 5px) / 2);padding:10px}.Post1.current.atom{height:300px;width:60%}.stiki-post{width:70%}.new{height:300px}span#SiteCopy,.poweredby{float:none;display:block;margin:0;text-align:center}span#SiteCopy{margin-bottom:10px}.Post1.atom{width:40%}.postitle{height:60px}.postitle a.Title{padding:10px 7px 50px 15px}.posts1 .Post,.posts2 .Post{width:100%;margin:10px 0!important}.twosides{width:100%}.posts5 .Post:first-of-type{width:100%;margin:0 0 10px;padding:0;height:390px}.posts5 .Post:nth-of-type(n+2){width:100%}.Post.rrcurrentrr{width:100%}.posts6 .Post:nth-of-type(n+2){width:100%}.Post.rrcurrentrr a.Thumb span{height:300px}li.relatedP{width:100%;margin:0 0 10px}#comment-editor{height:245px}

}
@media screen and (max-width:600px){

.Post.rrcurrentrr2 a.TitleT{font-size:12px;vertical-align:middle;margin-top:-4px}.Post1.current.atom{width:100%}.new{height:auto}.Post1.atom{width:100%}.new2{height:auto}.post-slide{padding:0!important;width:100%}.post-slide:last-of,-type{border-top:1px solid #fff}.post-outer,.search-view .post-outer{width:calc((100% - 10px) / 1);margin:5px;padding:10px;border-radius:0}.post-cobn a.Title,.Post.rrcurrentrr a.TitleT{font-size:1.1em}

}
@media screen and (max-width:450px){

.shareButton a{min-width: 47%;}h3.title {font-size: 12px;}.stiki-post {width: 64%;}

}
@media screen and (max-width:300px){

.shareButton a{min-width: 97%;}

}
